@import url('https://fonts.googleapis.com/css2? family= Edu+TAS+Beginner:wght@400;500 & family= Hind:wght@700 & family= Pacifico & family= Roboto+ Condensado:wght@200;700 & family= Roboto:ital,wght@0,500;1,700 & family= Rubik+Doodle+Shadow & display=swap');


*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    list-style: none;
}

body{
    background-color: rgba(169, 169, 169, 0.198);
}

header{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#FE6332,#ff6633dd);
    padding: 1rem;
    box-shadow:rgba(0, 0, 0, 0.262) 1rem 0.1rem 1rem ; 
    
}

#botao_menu{
    background:linear-gradient(#FE6332,#ff6633dd);
    border: none;
}


#dropdown button {
    display: none;
}

#dropdown img {
    display: none;
}



#nav_mobile{
    display: none;
    padding-block: 16px;
   
}

.label-menu,
.checkbox {
    display:none;
}

#menu{
    display: flex;
    justify-content: center;
    
}

#menu .menu li{
    margin: 1rem;
}

.carrossel {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
}

.carrossel_itens{
    display: flex;
}

.carrossel img{
    margin-top: 2rem;
    width: 100%;
    display: block;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}
.nav{
  
}

#descobertas{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.5rem;
    color: #982603;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    background-color: #fff;
    padding-top: 1rem;
    border-radius: 0.5rem;
}

#linha_descoberta{
    background-color: red;
}


.menu {
    display: flex;
    justify-content:space-around;
    font-size: 12pt;
    align-items: center;
    font-family: arial;
    position: static;
    padding: 0rem 5rem 0rem 5rem;
}

.menu .li_links{
    list-style: none;   
}

.menu .li_links a{
    text-decoration: none;
    color:#fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

.menu .li_links a:hover{
    color: black;
    transition: 0.5s;
}

.imagens:hover{
    padding-left: 0rem;
    padding-right: 0rem;
}

#menu_mobile{
    display: none;   
    width: 3rem;
    background-color: transparent;
}

#logomarca{
    display: flex;
    width: 9rem;
    height: 6rem;
    border: 1rem;
    padding: 0%; 
}
.produtos{
    position: relative;
    display:flex;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: -5%;
    padding: 1%;
    text-align: center;  
    border-radius: 1rem; 
    width: 100%;
}

.produto > img{
    height: 60%;
    width: 100%;
    margin-bottom: 4%;
}

.produto{
    
    align-items: initial;
    background-color: #fff;
    padding: 1rem;
    margin-left: 1rem;
    
}

.produto:hover{
    background-color:#fc9d5050;
    padding: 1rem;
    margin: none;
}


.nome_produto{
    position: relative; 
    font-size: 0.6rem;
    padding: 0.2rem;
    font-size: 8.6pt;
}

.info_produtos{
    position: relative; 
    padding-bottom: 8px;
    font-size: 11pt;
}

button:hover{
    background-color: black;
    transition: 0.7s;
    color: #fff;
}

.ver-oferta{
    justify-content: center;
    width: 6rem;
    background-color:crimson;
    color: #fff;
    padding: 0.3rem;
    font:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    box-shadow: 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 15%;
 
}

footer{
    background-color: #FE6332;
}

#contato{
    
}

footer #contato ul{
    display: flex;
    justify-content: center;
    list-style: none;  
    padding-top: 1rem;
}

footer #contato li{
    align-items: center;
    font-size: 12pt;
}

footer #contato ul img{
    width: 2rem;
    padding-left: 1rem;       
}

#link{
    font-size: 12pt;
    padding-top: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 730px) {
    
    body{
        width: 100%;
        align-items: center;
    }
    
    header {
        display: none;
        width: 100%;
        margin: none;
        padding: none;
        border: none;
    }


    #logomarca{
        display: none;
        width: 7rem;
        height: 5rem;
        border: 1rem;
        padding: 0%; 
        padding-left: 20%;
        
    }
    header #logo{ 
        justify-content: center;
        padding-left: 1rem; 
    }

    .container{
      

    }
    
    #dropdown{
        background-color: #FE6332;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-right: -20%;
                
    }

    #dropdown img{
        display: flex;
        width: 30%;
        height: 5.5rem;
        margin-left: 1rem;
        padding: 1%;
    }


    #dropdown > button {
        display: flex;
        margin-left: 19rem;
        margin-top: -2.6rem;
        background-color: black;
        border-color: black;
    }


    header li {
        display: flex;
    }

    #nav_mobile{
        display: flex;
        
    }

    .nav_mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
        padding-bottom: 1rem;
    }
    .nav_mobile_itens{
        display: none;
        padding-top: 1.2rem;
    }

    header #menu_mobile{
        display: flex;
        width: 1.5rem;
        height: 3rem;
        margin-left: 4rem;
        padding-left: 4%;
        cursor: pointer;
    }

    #descobertas{
        font-size: 11pt;
        font-family: Arial, Helvetica, sans-serif;

    }


    main{
        display: inline;
        padding: none;
    }

    .carrossel{
        width: 108%;
        
    }

    .produtos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:45px;
        margin-left: -15%;
        

    .produto{
        display: block;
        width: 120%;
        border: none;
        margin-right: 11%;
        margin-bottom: 3rem;
        
        
    }

    iframe{
        width: 100%;
    }
    

    .produto:hover{
        background-color:#fc9d5050;
        padding: 1rem;
        margin: none;
    }

    .nome_produto{ 
        font-size: 0.6rem;
        padding: 0.2rem;
        font-size: 8pt;
        align-items: center;
    }

    .info_produtos{
        padding-bottom: 0px;
        font-size: 10pt;
    }

    .ver-oferta{
        justify-content: center;
        width: 6rem;
        background-color:crimson;
        color: #fff;
        padding: 0.3rem;
        font:bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 9pt;
        box-shadow: 1rem;
        border: none;
        cursor: pointer;
        
        margin-bottom: 50%;
     
    }

    eletronicos{
        width: 100%;
    }



    footer{
        display: flex;
        width: 100%;
        
        
    }

}